.NavbarItems {
  background: linear-gradient(
    90deg,
    rgb(22, 137, 221) 0%,
    rgba(73, 63, 252, 1) 100%
  );
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.95rem;
  z-index: 7;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(11, auto);
  grid-gap: 45px;
  list-style: none;
  text-align: center;
  width: 100vw;
  justify-content: center;
  margin-right: 2rem;
  margin-top: 15px;
  cursor: pointer;
}

/*this is the menu items */
#nav-links span {
  font-family: "Nunito Sans", sans-serif;
}
#nav-links .nav-modlink {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  /* padding: 0.5rem 1rem */
}

#nav-links .nav-modlink:hover {
  color: rgb(252, 195, 8);
  transition: all 0.4s ease-out;
  text-decoration: none;
}

.fa-bars {
  color: #000;
}

/* hamburger menu icon*/
.menu-icon {
  display: none;
}

.single-row .active span {
  color: #FFA626;
}

@media screen and (max-width: 1800px) {
  .NavbarItems {
    font-size: 0.9rem;
  }

  .nav-menu {
    display: grid;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 1080px) {
  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 35px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #1b83e0;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  #nav-links {
    text-align: left;
    padding: 0.3rem;
    padding-left: 2rem;
    width: 100%;
    display: block;
  }

  #nav-links:hover {
    color: #000;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 20%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-bars {
    color: #fff;
  }
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}

/* latest addition for default highlight */

.nav-menu #active {
  color: #f4d03f;
}
