.Album-cover img{
    height: 217px;
    width: 212px;
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
}

.Album-cover{
    overflow: hidden;
    width: 212px;
}

.Album-cover:hover img{
    transform: scale(1.5);
    cursor: pointer;
}
.Album-heading{
    margin-right: 78px;
    margin-top: 16px;
    font-weight: bold;
}

@media only screen and (max-width: 572px){
    .Album-cover{
        width: 100%;
    }

    .Album-heading{
        margin-right: 0px;
        margin-top: 8px;
    }
    
}
