.oa-title{
    background: #9da6b7;
}
.errorMessage{
    margin: 3px;
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.label-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    border: 1px solid #ced4da;
    background: rgb(11, 132, 212);
    text-align: left;
}
.btn-next{
    padding: 0px 28px;
    font-size: 34px;
}

@media only screen and (max-width: 990px){
    .label-control{
        padding: 4px 12px;
        font-size: 14px;
        line-height: 1;
    }
    .form-control{
        font-size: 14px;
        
    }
}
